<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/cssreset.css" />
    <link rel="stylesheet" href="../static/assets/css/styles.css" />
  </head>
  <body>
    <div class="content">
      <!-- Navigation Begin -->
      <nav class="mobile-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Products</a></li>
          <li><a href="#">Our Farm</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <header class="solid-bg">
        <img class="company-logo" src="../static/assets/images/Logo 1-1 Black.svg" alt="" />
        <p style="display: none" class="company-name">PARK END FARMING</p>
        <div class="nav-wrapper">
          <nav class="top-nav">
            <ul>
              <li><a href="#">UNDER CONSTRUCTION</a></li>
              <li style="display: none"><a href="#">ABOUT US</a></li>
              <div style="display: none" class="dropdown-wrapper">
                <p class="noSelect">OUR PRODUCTS</p>
                <ul>
                  <li><a href="#">BEEF</a></li>
                  <li><a href="#">CHICKEN</a></li>
                  <li><a href="#">EGGS</a></li>
                  <li><a href="#">LAMB</a></li>
                  <li><a href="#">PORK</a></li>
                </ul>
              </div>
              <li style="display: none"><a href="#">OUR FARM</a></li>
              <li style="display: none"><a href="#">CONTACT</a></li>
            </ul>
            <div id="menu-container"></div>
          </nav>
        </div>
      </header>
      <!-- Navigation End -->
      <!-- Fullscreen Hero Image Begin -->
      <section class="hero">
        <div class="hero-inner">
          <div class="hero-content">
            <form action="post" class="newsletter-signup" style="display: none">
              <p class="small-header">Newsletter</p>
              <p>Sign up to our newsletter to hear all about our latest news and get exclusive offers!</p>
              <input type="email" placeholder="Your email address" aria-label="email" />
              <input type="submit" value="Sign me up" />
            </form>
            <div class="opening-times-container">
              <p class="small-header">Opening Times</p>
              <ul>
                <li><span class="secondary-text">Monday: </span>Closed</li>
                <li><span class="secondary-text">Tuesday to Saturday: </span>09:30 - 17:00</li>
                <li><span class="secondary-text">Sunday: </span>10:00 14:00</li>
              </ul>
              <span class="seperator"></span>
              <p class="small-header">Get in Touch</p>
              <ul>
                <li><a href="tel:07865225765">M. 07865225765</a></li>
                <li><a href="mailto:phil@parkendfarming.co.uk">E. phil@parkendfarming.co.uk</a></li>
                <li>A. Crick Road, Northampton, NN6 7SH</li>
                <br />
              </ul>
            </div>
            <img class="location-img" src="../static/assets/images/location.svg" alt="" />
          </div>
        </div>
      </section>
      <!-- Fullscreen Hero Image End -->
      <div style="display: none" class="splash">
        <div class="container">
          <img class="location-img" src="../static/assets/images/location.svg" alt="" />
        </div>
      </div>
      <!-- Image Slider Begin -->
      <div class="carousel-container" style="display: none">
        <i class="arrow-left" id="previousBtn"></i>
        <i class="arrow-right" id="nextBtn"></i>
        <div class="carousel-slide">
          <div class="story-board" id="lastClone">
            <div class="story-inner"></div>
          </div>
          <div class="story-board">
            <div class="story-inner first">
              <div>
                <p>
                  Take the tour through time, and find out how Park End has evolved through the years, what our values are, and what we're doing to contribute
                  to a sustainable future.
                </p>
              </div>
            </div>
          </div>
          <div class="story-board">
            <div class="story-inner second">
              <img src="../static/assets/images/storyboard/board2.jpeg" alt="" />
              <div>
                <p>Origins</p>
                <p>
                  Fugiat sint incididunt elit et velit ipsum fugiat culpa voluptate sunt. Consequat pariatur voluptate incididunt quis tempor sunt sit minim id
                  laborum et ex et. Nostrud proident pariatur irure laboris consectetur occaecat mollit. Dolor cillum incididunt deserunt reprehenderit eu
                  laborum officia tempor veniam excepteur exercitation sint proident. Cillum velit laborum esse quis labore occaecat aliquip eiusmod adipisicing
                  aute cillum adipisicing non deserunt. Incididunt ullamco cillum ea irure fugiat.
                </p>
              </div>
            </div>
          </div>
          <div class="story-board">
            <div class="story-inner"></div>
          </div>
          <div class="story-board" id="firstClone">
            <div class="story-inner"></div>
          </div>
        </div>

        <!-- Image Slider End -->
      </div>
    </div>
    <footer>
      <div class="footer-grid">
        <section>
          <p>Why Choose Us?</p>
          <ul>
            <li>Premium quality products</li>
            <li>Free local delivery</li>
            <li>Five star hygiene rated</li>
            <li>Value for money</li>
          </ul>
        </section>
        <section style="display: none">
          <p>Services</p>
          <ul>
            <li><a href="#">Our beef</a></li>
            <li><a href="#">Our chicken</a></li>
            <li><a href="#">Our eggs</a></li>
            <li><a href="#">Our lamb</a></li>
            <li><a href="#">Our pork</a></li>
          </ul>
        </section>
        <section>
          <p>Contact Us</p>
          <ul>
            <li>
              <a href="tel:07865225765">M. 07865225765</a>
            </li>
            <li>
              <a href="mailto:phil@parkendfarming.co.uk">E. phil@parkendfarming.co.uk</a>
            </li>
            <li>A. Crick Road, Northampton, NN6 7SH</li>
          </ul>
        </section>
      </div>
    </footer>
    <script src="../static/assets/js/imageslider.js"></script>
    <script src="../static/assets/js/bodymovin-library.js"></script>
    <script type="text/javascript" src="../static/assets/js/script.js"></script>
  </body>
</html>
