<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/cssreset.css" />
    <link rel="stylesheet" href="../static/assets/css/styles.css" />
  </head>
  <body>
    <div class="content">
      <!-- Navigation Begin -->
      <nav class="mobile-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Products</a></li>
          <li><a href="#">Our Farm</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <header>
        <p class="company-name">PARK END FARMING</p>
        <div class="nav-wrapper">
          <nav class="top-nav">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">ABOUT US</a></li>
              <div class="dropdown-wrapper">
                <p class="noSelect">OUR PRODUCTS</p>
                <ul>
                  <li><a href="#">BEEF</a></li>
                  <li><a href="#">CHICKEN</a></li>
                  <li><a href="#">EGGS</a></li>
                  <li><a href="#">LAMB</a></li>
                  <li><a href="#">PORK</a></li>
                </ul>
              </div>
              <li><a href="#">OUR FARM</a></li>
              <li><a href="#">TESTIMONIALS</a></li>
              <li><a href="#">CONTACT</a></li>
            </ul>
            <div id="menu-container"></div>
          </nav>
        </div>
      </header>
      <!-- Navigation End -->
      <!-- Fullscreen Hero Image Begin -->
      <section class="hero">
        <div class="hero-inner">
          <div class="hero-content">
            <form action="post" class="newsletter-signup">
              <p class="small-header">Newsletter</p>
              <p>Sign up to our newsletter to hear all about our latest news and get exclusive offers!</p>
              <input type="email" placeholder="Your email address" aria-label="email" />
              <input type="submit" value="Sign me up" />
            </form>
            <div class="opening-times-container">
              <p class="small-header">Opening Times</p>
              <ul>
                <li><span class="secondary-text">Monday: </span>Closed</li>
                <li><span class="secondary-text">Tuesday to Saturday: </span>09:00 - 17:00</li>
                <li><span class="secondary-text">Sunday: </span>10:00 16:00</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Fullscreen Hero Image End -->
      <section>
        <div class="container"></div>
      </section>
      <div class="container">
        <!-- Image Slider Begin -->
        <div style="display: none" class="carousel-container">
          <i class="arrow-left" id="previousBtn"></i>
          <i class="arrow-right" id="nextBtn"></i>
          <div class="carousel-slide">
            <img src="../static/assets/images/img5.jpeg" id="lastClone" alt="" />
            <img src="../static/assets/images/img1.jpeg" alt="" />
            <img src="../static/assets/images/img2.jpeg" alt="" />
            <img src="../static/assets/images/img3.jpeg" alt="" />
            <img src="../static/assets/images/img4.jpeg" alt="" />
            <img src="../static/assets/images/img5.jpeg" alt="" />
            <img src="../static/assets/images/img1.jpeg" id="firstClone" alt="" />
          </div>
        </div>
        <!-- Image Slider End -->
      </div>
    </div>
    <footer>
      <div class="footer-grid">
        <section>
          <p>Why Choose Us?</p>
          <ul>
            <li>Premium quality products</li>
            <li>Free local delivery</li>
            <li>Five star hygiene rated</li>
            <li>Value for money</li>
          </ul>
        </section>
        <section>
          <p>Services</p>
          <ul>
            <li><a href="#">Our beef</a></li>
            <li><a href="#">Our chicken</a></li>
            <li><a href="#">Our eggs</a></li>
            <li><a href="#">Our lamb</a></li>
            <li><a href="#">Our pork</a></li>
          </ul>
        </section>
        <section>
          <p>Contact Us</p>
          <ul>
            <li>
              <a href="javascript:void(0)">07887844065</a>
            </li>
            <li>
              <a href="javascript:void(0)">info@parkendfarming.co.uk</a>
            </li>
          </ul>
        </section>
      </div>
    </footer>
    <script src="../static/assets/js/imageslider.js"></script>
    <script src="../static/assets/js/bodymovin-library.js"></script>
    <script type="text/javascript" src="../static/assets/js/script.js"></script>
  </body>
</html>
