*,
*:before,
*:after {
  box-sizing: border-box;
}

/*CSS Variables Start*/

:root {
  --bg-color: #ebebeb;
  --primary-color: #204820;
  --black: hsla(120, 6%, 7%);
  --text-secondary: hsla(0, 0%, 33%);
  --light-grey: #e0e0e0;
  --secondary-color: #3f68ba;
  --white: #fff;
}

/*CSS Variables End*/

/*Foundation Start*/

.container {
  max-width: 1400px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--black);
  font-family: "poppins reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}

.content {
  flex: 1 0 auto;
}

/*Foundation End*/

/*Navigation Start*/

header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: all 1s ease;
  z-index: 1;
}

header.solid-bg {
  background-color: var(--white);
}

header.solid-bg .nav-wrapper {
  border-top: solid 1px var(--light-grey) !important;
  border-bottom: none !important;
}

header.solid-bg * {
  color: var(--black) !important;
}

header.solid-bg .dropdown-wrapper li:hover a {
  color: var(--white) !important;
}

header img.logo {
  display: block;
  width: 184px;
  padding: 16px;
  margin: 0 auto;
}

p.company-name {
  padding: 32px 0;
  color: var(--white);
  text-align: center;
  font-family: "poppins med", Arial, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
}

.nav-wrapper {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  margin: 0 auto 0 auto;
}

.top-nav {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins reg";
  line-height: 1em;
}

.top-nav > ul {
  display: block;
  margin-top: 12px;
}

.top-nav li,
.mobile-menu {
  display: inline;
  list-style-type: none;
}

.top-nav > ul > li > a {
  margin-left: 16px;
  letter-spacing: 1px;
}

.top-nav > ul > li:first-of-type > a {
  margin-left: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--white);
}

a:visited {
  color: var(--white);
}

a:hover {
  color: var(--white);
}

a:active {
  color: var(--white);
}

/*Dropdown Menu Begin*/

.dropdown-wrapper {
  width: max-content;
  height: min-content;
  display: inline-flex;
  flex-direction: column;
  margin-left: 16px;
  z-index: 1;
}

.dropdown-wrapper:hover {
  cursor: pointer;
}

.dropdown-wrapper p {
  color: var(--white);
  letter-spacing: 1px;
}

.dropdown-wrapper ul {
  width: max-content;
  height: max-content;
  display: none;
  flex-direction: column;
  background-color: var(--white);
  margin-top: 18px;
  margin-right: 0;
  z-index: 1;
}

.dropdown-wrapper:hover ul {
  display: flex;
}

.dropdown-wrapper li {
  height: max-content;
  padding: 12px;
  display: flex;
  align-items: center;
}

.dropdown-wrapper ul a {
  display: block;
  height: max-content;
  color: var(--text-secondary);
}

.dropdown-wrapper li:hover {
  background-color: var(--black);
}

.dropdown-wrapper li:hover a {
  color: var(--white);
}

.dropdown-wrapper .dropdown-wrapper li:last-of-type a {
  margin-bottom: 0;
}

.dropdown-wrapper:hover {
  height: max-content;
}

/*Dropdown Menu End*/

/*Mobile Menu Start*/

#menu-container {
  display: none;
  width: 25px;
  height: 25px;
}

.mobile-menu {
  box-sizing: border-box;
  position: fixed;
  width: calc(100% - 67px);
  top: 0px;
  bottom: 0;
  padding: 16px;
  transform: translate(-100%);
  background-color: #fff;
  font-size: 18px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.show-menu {
  transform: translate(0%);
}

.mobile-menu ul {
  display: initial;
}

.mobile-menu li {
  display: initial;
  list-style-type: initial;
}

.mobile-menu a {
  display: block;
  margin: 0 0 24px 0;
}

/*Mobile Menu End*/

/*Navigation End*/

/*Fullscreen Hero Image Start*/

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/hero.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.35);
  padding-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
  margin-top: 64px;
}

.newsletter-signup {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #7a9e7e;
  text-align: left;
}

.newsletter-signup p {
  margin-bottom: 8px;
}

input {
  padding: 6px;
  border: solid 2px transparent;
  outline: none;
  color: var(--black);
  font-family: "poppins reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
}

input[type="submit"] {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--black);
  color: var(--white);
}

input:last-of-type {
  margin-bottom: 0;
}

input:focus {
  border: solid 2px var(--black);
}

.opening-times-container {
  align-self: stretch;
  max-width: 400px;
  width: 100%;
  padding: 16px;
  background-color: hsla(0, 0%, 0%, 0.65);
  text-align: left;
  color: var(--white);
  font-family: "poppins reg", Arial, Helvetica, sans-serif;
}

/*.opening-times-container .secondary-text {
  color: var(--white);
  font-family: "poppins reg", Arial, Helvetica, sans-serif;
}*/

.opening-times-container li {
  margin-bottom: 2px;
}

.opening-times-container li:last-of-type {
  margin-bottom: 0;
}

/*Fullscreen Hero Image End*/

/*Image Slider Begin*/

.carousel-container {
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin: 64px 0;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

.story-board {
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.story-board:nth-of-type(1) {
  background-color: var(--secondary-color);
}

.story-board:nth-of-type(2) {
  background-color: var(--primary-color);
  background-image: url("../images/storyboard/board1.jpeg");
}

.story-board:nth-of-type(3) {
  background: rgb(235, 235, 235);
  background: -moz-radial-gradient(circle, rgba(235, 235, 235, 1) 0%, rgba(224, 224, 224, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(235, 235, 235, 1) 0%, rgba(224, 224, 224, 1) 100%);
  background: radial-gradient(circle, rgba(235, 235, 235, 1) 0%, rgba(224, 224, 224, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebebeb",endColorstr="#e0e0e0",GradientType=1);
}

.story-board:nth-of-type(4) {
  background-color: var(--secondary-color);
}

.story-board:nth-of-type(5) {
  background-color: var(--primary-color);
  background-image: url("../images/storyboard/board1.jpeg");
}

.story-inner {
  max-width: 1400px;
  height: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.story-inner.first {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: unset;
}

.story-inner.first div {
  max-width: 400px;
  height: 100%;
  padding: 16px;
  background-color: hsla(0, 0%, 100%, 0.2);
  display: flex;
  align-items: center;
  font-family: "Lora Reg", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.3em;
}

.story-inner.second {
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
}

.story-inner.second img {
  max-width: 50%;
  background-size: contain;
}

.story-inner.second div {
  max-width: 400px;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-inner.second p:first-of-type {
  font-family: "Lora Reg";
  font-size: 24px;
  margin-bottom: 16px;
}

#previousBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 16px;
  font-size: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 16px;
  font-size: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

/*Image Slider End*/

/*Footer Start*/

footer {
  flex-shrink: 0;
  width: 100%;
  padding: 32px 0;
  background-color: var(--black);
  color: var(--white);
  font-family: "poppins light", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

footer p:first-of-type {
  font-size: 18px;
  margin-bottom: 16px;
}

footer section:first-of-type ul {
  list-style-type: disc;
  list-style-position: inside;
}

.footer-grid {
  display: grid;
  max-width: 1400px;
  grid-template-columns: auto auto auto;
  column-gap: 16px;
  margin: 0 auto;
}

.footer-grid section {
  padding: 8px;
}

/*Footer End*/

/*Icons Start*/

.arrow-left {
  display: block;
  background-image: url("../icons/left-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.arrow-right {
  display: block;
  background-image: url("../icons/left-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  transform: rotate(180deg);
}

/*Icons End*/

/*Misc Begin*/

.small-header {
  font-family: "lora bold", Arial, Helvetica, sans-serif !important;
  font-size: 24px !important;
  margin-bottom: 16px !important;
}

.stop-scrolling {
  overflow: hidden;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

/*Misc End*/

/*Fonts*/

@font-face {
  font-family: "lora reg";
  src: url("../fonts/Lora/Lora-Regular.ttf");
}

@font-face {
  font-family: "lora med";
  src: url("../fonts/Lora/Lora-Medium.ttf");
}

@font-face {
  font-family: "lora semib";
  src: url("../fonts/Lora/Lora-SemiBold.ttf");
}

@font-face {
  font-family: "lora bold";
  src: url("../fonts/Lora/Lora-Bold.ttf");
}

@font-face {
  font-family: "poppins reg";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins light";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "poppins med";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins semib";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

/*Media Queries Begin*/

@media screen and (max-width: 1400px) {
  .nav-wrapper {
    padding: 0 16px;
  }
  footer {
    padding: 32px 16px;
  }
}

@media screen and (max-width: 735px) {
  .hero-content {
    flex-direction: column-reverse;
  }
  .opening-times-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .top-nav ul {
    display: none;
  }
  .top-nav {
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  #menu-container {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/*Media Queries End*/
